:focus-visible {
  outline: var(--mantine-color-blue-6) dashed 1px;
  outline-offset: 2px;
}

body {
  background: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
}

a {
  text-decoration: none;
  color: var(--mantine-color-blue-7);
  &:hover {
    color: var(--mantine-color-blue-5);
    text-decoration: underline;
  }
}
