:focus-visible {
  outline: var(--mantine-color-blue-6) dashed 1px;
  outline-offset: 2px;
}

body {
  background: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
}

a {
  color: light-dark(var(--mantine-color-blue-8), var(--mantine-color-blue-3));
  &:hover {
    color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-5));
  }
}

.nowrap {
  white-space: nowrap;
}
