.root {
  gap: rem(8px);
  color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-dark-2));
}

.logo {
  margin-top: rem(-6px);
}

.text {
  margin-top: rem(3px);
  font-size: rem(22px);
  line-height: 1;
}

.dynamicText {
  display: inline;
  @media (min-width: $mantine-breakpoint-xs) {
    display: none;
  }
  @media (min-width: rem(700px)) {
    display: inline;
  }
}
